@theme {
  --font-sans: 'Barlow Semi Condensed', sans-serif;
  --font-serif: 'PP Editorial New', serif;
  --text-8xl-fluid--line-height: 1.125;
  --text-8xl-fluid: clamp(
    3.25rem,
    4.583vw + 2.333rem,
    6rem
  ); /*320px vw:52px to 1280px vw: 96px*/
  --text-6xl-fluid: clamp(2.5rem, 2.083vw + 2.083rem, 3.75rem); /*40px to 60px*/
  --text-6xl-fluid--line-height: 1.125;
  --text-5xl-fluid: clamp(2.25rem, 1.25vw + 2rem, 3rem);
  --text-5xl-fluid--line-height: 1.25;
  --text-4xl-fluid: clamp(1.875rem, 0.625vw + 1.75rem, 2.25rem);
  --text-4xl-fluid--line-height: 1.25;
  --text-3xl-fluid: clamp(1.5rem, 0.625vw + 1.375rem, 1.875rem);
  --text-3xl-fluid--line-height: 1.25;
  --text-2xl-fluid: clamp(1.25rem, 0.417vw + 1.167rem, 1.5rem); /*20px to 24px*/
  --text-lg-fluid: clamp(1rem, 0.208vw + 0.958rem, 1.125rem); /*16px to 18px*/
  --color-chalk: #f7f0eb;
  --color-sand: #edddd1;
  --color-brick: #d35040;
  --color-stucco: #ab8867;
  --color-opium: #968587;
  --color-ivy: #5d6720;
  --color-black: #29202d;
  --color-keyline: #d9cbcf;
  --color-oriel: #ee2212;
  --color-cardinal: #602537;
  --color-cardinal-muted: #c3a6a3;
  --container-8xl: 90rem;

  --color-chalk-passthrough: --alpha(var(--color-chalk) / 30%);
  --dot-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.25) inset;
  --red-chevron: url(data:image/svg+xml,%3Csvg%20fill%3D%22none%22%20height%3D%2213%22%20viewBox%3D%220%200%206%2013%22%20width%3D%226%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20%20%20%20%20%20%20%20%20%20d%3D%22m.333221%2012.8165h1.160739c.05713-.4825.1563-.9732.30013-1.4649.45256-1.54708%201.27216-2.84741%202.26874-3.75586.37349-.34047.77185-.6259%201.18506-.84865-.41319-.22278-.81153-.50823-1.18501-.84873-.99645-.90844-1.81594-2.20866-2.26846-3.75563-.14511-.49608-.24476-.99111-.30164-1.477691h-1.159559v1.339471h.039166c.040838.17136.086295.34286.136437.51428.49108%201.67879%201.374956%203.14814%202.500296%204.22823-1.1255%201.08012-2.009498%202.5496-2.500623%204.22858-.048889.1671-.093325.3343-.133368.5014h-.041908z%22%20%20%20%20%20%20%20%20%20%20fill%3D%22%23ee2212%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
}
